* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url('IMG_7115.jpeg');
}

/* Inside section area */
#A1 {
    padding: 250px;
    text-align: center;
    background-image: url('IMG_7115.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
